header {
  background-color: #1F2122;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 9; }
  header nav ul {
    text-align: center;
    padding: 0;
    margin: 0; }
    header nav ul li {
      display: inline-block;
      margin: 0; }
      header nav ul li a {
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 2rem;
        margin: 0 1rem;
        text-transform: uppercase;
        transition: all 0.2s linear;
        border-bottom: 1px solid transparent; }
        header nav ul li a:hover, header nav ul li a.selected {
          color: red;
          border-bottom: 1px solid red; }
