footer {
    padding:  10rem 0 5rem 0;
    text-align: center;
    font-size:  1.2rem;
    background-color: #1F2122;
    width: 100%;
    z-index: 9;
    color:  #fff;

    a {
    	color: #fff;
    	text-decoration: none;
    	transition : all 0.3s ease-in-out;

    	&:hover {
    		color: $dark-red;
    	}
    }
}

.gallery-columns-3 .gallery-item {
    float: left;
    width: 32%;
    margin:  0;
    margin-right:  1%;
}

.gallery-columns-3 .gallery-item:last-child {
    margin-right:  0;
}
