header {
    background-color: #1F2122;
    padding: 0;
    position: fixed;
    width: 100vw;
    z-index: 9;
    text-align: center;

    .menu-toggle {
        margin: 20px auto;
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px;
        display: inline-block;
        text-align: center;

        @media(min-width: $desktop){
            display: none;
        }

        .inner {
            width:20px;
            height: 2px;
            border-radius: 10px;
            background-color: #fff;
            margin: 5px;
        }
    }

    nav {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.3s; 
        -moz-transition: max-height 0.3s; 
        -ms-transition: max-height 0.3s; 
        -o-transition: max-height 0.3s; 
        transition: max-height 0.3s;

        @media(min-width: $desktop){
            max-height: none;
        }

        &.open {
            max-height: 1800px;
            -webkit-transition: max-height 0.3s; 
            -moz-transition: max-height 0.3s; 
            -ms-transition: max-height 0.3s; 
            -o-transition: max-height 0.3s; 
            transition: max-height 0.3s;
        }

        ul {
            text-align: center;
            padding: 0;
            margin: 0;

            li {
                display: block;
                margin: 0;
                font-weight: 100;

                @media(min-width:740px){
                    display: inline-block;
                }

                a {
                    color:  #fff;
                    display: block;
                    text-decoration: none;
                    padding: 2rem;
                    margin: 0 1rem;
                    text-transform: uppercase;
                    transition: all 0.2s linear;
                    border-bottom: 1px solid transparent;

                    &:hover, &.selected {
                        color: $dark-red;
                        border-bottom: 1px solid $dark-red;
                    }
                }
            }
        }
    }
}