.alternating-grid {

	@media(min-width: 1300px){
		max-width: 1280px;
	}

	.row {
		margin-bottom: 0;

		.columns {
			margin: 0;
			background-size: cover;
			background-position: center center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;  
			overflow: hidden;

			p {
				display: block;
				width: 100%;
			}

			&.six {
				padding: 0 2rem;
				
				@media(min-width: $tablet){
					padding: 2rem;
					width:50%;
					// min-height: 50vw;
					padding: 0;
				}
			}

			img {

				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 0.5s ease-in-out;

				&:hover {
					transform: scale(1.1);	
				}
			}

		}

		&:nth-child(odd){
			.columns {
				&:first-child {
					@media(min-width: $tablet){
						padding: 5rem;
						background-color: rgb(236, 236, 236);
						h2 {
							text-align: left;
							width: 100%;

							&:after {

							}
						}
					}
				}

				&:nth-child(2){
					display: none;

					@media(min-width: $tablet){
						display: block;
					}
				}
			}
		}

		&:nth-child(even){
			.columns {
				&:last-child {

					@media(min-width: $tablet){
						padding: 5rem;
						background-color: rgb(236, 236, 236);
						text-align: right;
						
						h2 {
							text-align: right;
							width: 100%;
							position: relative;

							&:after {
								right: 0;
								left: auto;
								position: absolute;
							}
						}
					}
				}

				&:nth-child(1){
					display: none;

					@media(min-width: $tablet){
						display: block;
					}
				}
			}
		}
	}
}