.contact {

	color: #fff;

	h3 {
		font-size: 3rem;
		font-weight: $heavyfont;
	}

	p {
		margin-bottom: 4rem;
	}

	.contactform {

		width: 100%;
		max-width: 500px;
		display: block;
		margin: 0 auto;
		color: #fff;

		input {
			width: 100%;
			max-width: 500px;
			border-radius: 3px;
			border: 0;
			color: #000;

			&[type="submit"]{
				width: auto;
				margin: 0;
				display: block;
				color: #000;
				border: 0;
				text-transform: none;
				padding: 0 2rem;
				font-size: 1.8rem;
				letter-spacing: 0;
				background-color: #fff;
				font-weight: 300;
				color: $grey;
			}
		}

		textarea {
			width: 100%;
			max-width: 500px;
			min-height: 100px;
			border-radius: 3px;
			border: 0;
			color: #000;

			@media(min-width: 768px){
				min-height: 200px;
			}
		}
	}
}

.form_message {
	font-weight: bold;
	color: red;
}