$white			: #fff;
$ververed		: #f92745;
$vervegreen 	: #1aac66;
$altgreen		: #02c141;
$altgreen2		: #84c102;
$verveyellow	: #f9b600;
$blue			: #197ce4;
$grey			: #666;
$darkgrey		: #343434;
$bordergrey		: #575757;
$medgrey		: #ededed;
$lightgrey		: #f9f9f9;
	
$phablet		: 550px;
$tablet   		: 768px;
$desktop  		: 1024px;
$macbook  		: 1280px;
	
$thinfont		: 100;
$lightfont		: 300;
$mediumfont		: 300;
$boldfont		: 400;
$heavyfont		: 600;

$mainfontsize	: 1.7rem; 