.case-studies {
	padding-bottom: 0;
	
	.three.columns {

		overflow: hidden;
		position: relative;
		background-size: cover;
		background-position: center center;

		margin-bottom: 4rem;

		&:last-child{
			margin-bottom: 0;
		}

		@media(min-width: $desktop){
			margin-bottom: 0;
		}

		@media(min-width: $phablet){
			width: 50%;
			margin: 0;
		}

		@media(min-width: $desktop){
			width: 25%;
			margin: 0;
		}

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			transition: all 0.5s ease-in-out;

			.inner {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;  
				position: absolute;
				bottom: 0;
				left:0;
				right: 0;
				width: 100%;
				height: 100%;
				transition: all 0.8s ease-in-out;
				text-align: center;
				top: 0;
				background-color: rgba(25, 124, 228, 0.8);
				// background-color: $grey;
				// opacity: 0.8;

				@media(min-width: $desktop){
					top:100%;
					background-color: transparent;
				}

				button {
					color: #fff;
					border-width: 2px;
					border-color: #fff;
					transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
					transition-delay: 0.8s;
					padding: 0 2rem;
					text-transform: none;
					font-weight: $thinfont;
					font-size: 1.6rem;
					line-height: 38px;
				    height: 42px;

					@media(min-width: $desktop){
						padding: 0 3rem;
					}
				}

				p {
					color: #fff;
					
					&:first-child {
						font-weight: $heavyfont;
					}
				}
			}
		}

		&:hover {
			a {
				@media(min-width: $desktop){
					background-color: rgba(25, 124, 228, 0.8);
				}
				// opacity: 0.85;

				.inner {
					top: 0;
				}
			}
		}
	}
}

