.team {

	.row {

		padding: 4rem 0;

		&.grey-panel {
		    border-bottom: 1px solid $blue;
		    border-top: 1px solid $blue;
		}

		.container {

			@media(min-width: $desktop){
				display: flex;
			}

			.columns {

				&.image {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				padding: 2rem;
				text-align: justify;

				img {
					display: block;
					max-width: 350px;
					border-radius: 10px;
				}

				h3 {
				    // font-weight: 300;
				    font-size: 2rem;
				    margin-bottom: 2rem;
				    text-align: center;

				    &:after {
				        content: "";
				        display: block;
				        position: relative;
				        background-color: $grey;
				        width: 100px;
				        height: 2px;
				        margin: 1rem auto 0 auto;
				    }
				}
			}
		}
	}

}