.timeline {

    .timeline-line {
        width: 2px;
        height: 100%;
        position: absolute;
        background-color: $blue;
        margin: auto;
        left:0;
        right: 0;
        display: none;

        @media(min-width: 992px){
            display: block;
        }
    }

    .timeline-entry {

        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $blue;

        @media(min-width: 992px){
            margin-bottom: 0;
            padding-bottom :0;
            border: 0;
            width: 50%;
            float: left;
            clear: both;
            // margin-top: -20%;
            padding-right: 2rem;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0px;
                top: 40px;
                height: 2px;
                width: 20px;
                background-color: $blue;
            }

            &:nth-child(even) {
                float: right;
                clear: both;
                padding-right: 0;
                padding-left: 2rem;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 40px;
                    height: 2px;
                    width: 20px;
                    background-color: #3c3c3c;
                }
            }
            &:first-child {
                margin: 0;
            }

            .inner {
                background-color: #34a6b3;
                color: #fff;
                padding: 2rem;
                transform: translateX(-50vw);
                transition: all 0.5s ease-in-out;
            }

            &:nth-child(even) {
                .inner {
                    background-color: #3c3c3c;
                    transform: translateX(50vw);
                }
            }

            &.active {
                opacity: 1;
                .inner {
                    transform: translateX(0);
                }

                &:nth-child(even) {
                    .inner {
                        transform: translateX(0);
                    }
                }
            }
        }

        .head {
            text-transform: uppercase;
            position: relative;
            margin-bottom: 30px;

            p {
                @media(min-width: 992px){
                    display: inline-block;

                &:nth-child(2){
                    float: right;
                    position: relative;
                    right: 10px;

                    &:before {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 9px;
                        left:-13px;
                        border-radius: 50%;
                    }

                    &:after {
                        content: "";
                        display: block;
                        width: 5px;
                        height: 5px;
                        background-color: #fff;
                        position: absolute;
                        top: 9px;
                        right: -13px;
                        border-radius: 50%;
                    }
                }
            }
        }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 100%;
                height: 1px;
                background-color: #fff;
                // margin-top: 10px;
            }
        }

        .body {
            img {
                display: block;
                margin-top: 20px;
            }
        }
    }
}