::-webkit-scrollbar {
  display: none; }

*:focus {
  outline: 0; }

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%; }

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  font-size: 1.4rem;
  min-height: 100%;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.3px;
  font-weight: 400; }

h1 {
  font-size: 3rem;
  letter-spacing: 0.3px;
  color: #13558d;
  margin-bottom: 5rem;
  text-align: center; }

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  letter-spacing: 0.3px;
  color: #13558d; }

h3 {
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  color: #13558d; }

p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.3px;
  text-align: justify; }

blockquote {
  text-align: justify; }

ol li {
  font-weight: 400;
  font-size: 1.6rem; }

ul li {
  font-weight: 400;
  font-size: 1.6rem; }

img {
  max-width: 100%;
  box-sizing: border-box; }

.columns img {
  width: 100%; }

.section {
  padding: 2rem 0; }

hr {
  width: 300px;
  margin: 4rem auto;
  border-top: 1px solid #be1522; }

section {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  @media (min-width: 768px) {
    section {
      margin-top: 6rem;
      margin-bottom: 6rem; } }
  section:first-of-type {
    margin-bottom: 0; }

header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  width: 100vw;
  z-index: 9;
  border-bottom: 1px solid #be1522;
  text-align: center; }
  header > a img {
    max-width: 120px;
    margin: 15px auto 30px auto;
    display: block; }
  header .menu-toggle {
    margin: 20px auto;
    border: 1px solid #13558d;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    text-align: center; }
    @media (min-width: 1024px) {
      header .menu-toggle {
        display: none; } }
    header .menu-toggle .inner {
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: #13558d;
      margin: 5px; }
  header nav {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s; }
    @media (min-width: 1024px) {
      header nav {
        max-height: none; } }
    header nav.open {
      max-height: 1800px;
      -webkit-transition: max-height 0.3s;
      -moz-transition: max-height 0.3s;
      -ms-transition: max-height 0.3s;
      -o-transition: max-height 0.3s;
      transition: max-height 0.3s; }
    header nav ul {
      text-align: center;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: block;
        margin: 0; }
        @media (min-width: 740px) {
          header nav ul li {
            display: inline-block; } }
        header nav ul li a {
          color: #13558d;
          display: block;
          text-decoration: none;
          padding: 1.5rem 2rem;
          margin: 0 1rem;
          text-transform: uppercase;
          transition: all 0.2s linear;
          font-weight: 400;
          transition: all 0.3s ease-in-out; }
          header nav ul li a:hover {
            color: #13558d;
            transform: scale(1.2, 1.2); }
        header nav ul li.selected a {
          color: #13558d;
          background-color: rgba(0, 0, 0, 0.05); }

.hero {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(./img/Sidelined.jpg); }
  .hero .captions {
    padding-top: 4rem; }
    .hero .captions h1 {
      background-color: rgba(0, 0, 0, 0.5);
      display: inline-block;
      color: #fff;
      padding: 2rem; }

@media (min-width: 1024px) {
  .services {
    padding-top: 2rem;
    margin-top: 0; } }

.services .container {
  background-color: #fff;
  padding: 2rem 4rem;
  text-align: center; }
  .services .container h2 {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    position: relative; }
  .services .container img {
    padding: 1rem 0rem; }
  .services .container .columns {
    position: relative;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 5px; }
    .services .container .columns:before {
      content: "";
      display: block;
      padding-top: 100%;
      /* ratio of 1:1*/ }
    .services .container .columns .inner {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background-color: rgba(19, 85, 141, 0.72);
      z-index: 1;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
      text-align: center;
      color: #fff;
      line-height: 100%;
      padding-top: 45%;
      cursor: pointer;
      cursor: hand;
      text-decoration: none; }
      .services .container .columns .inner p {
        text-transform: uppercase;
        text-align: center; }
    .services .container .columns:hover .inner, .services .container .columns.active .inner {
      top: 0;
      text-decoration: none; }

.alpha-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center; }
  .alpha-bg .inner {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10rem 0;
    color: #fff; }
    .alpha-bg .inner blockquote {
      max-width: 600px;
      margin: 0 auto;
      font-size: 1.8rem;
      font-style: italic; }

.buttons {
  padding: 5rem 0; }
  .buttons .button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    position: relative; }
    .buttons .button:before {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #be1522;
      border-top: 1px solid #be1522;
      top: 40%;
      width: 50%;
      right: 100%;
      margin-right: 15px; }
    .buttons .button:after {
      content: "";
      position: absolute;
      height: 5px;
      border-bottom: 1px solid #be1522;
      border-top: 1px solid #be1522;
      top: 40%;
      width: 50%;
      left: 100%;
      margin-left: 15px; }

.news-boxes {
  padding-top: 3rem; }
  .news-boxes .four-cols {
    box-sizing: border-box;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 3px; }
    @media (min-width: 768px) {
      .news-boxes .four-cols {
        width: 50%; } }
    @media (min-width: 1024px) {
      .news-boxes .four-cols {
        width: calc(20% - 5px);
        margin-right: 5px;
        margin-bottom: 5px; } }
    .news-boxes .four-cols a {
      display: block;
      box-sizing: border-box; }
    .news-boxes .four-cols img {
      width: 100%;
      height: 100%;
      display: block;
      margin: auto; }
    .news-boxes .four-cols .post-inner {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
      top: 0;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
      text-align: center;
      color: #fff;
      line-height: 100%;
      padding-top: 45%; }
      .news-boxes .four-cols .post-inner p {
        font-size: 2rem;
        text-transform: uppercase; }
      @media (min-width: 1024px) {
        .news-boxes .four-cols .post-inner {
          top: 100%; } }
    .news-boxes .four-cols a:hover .post-inner {
      top: 0; }

form {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto; }
  form.contactform input {
    width: 100%;
    max-width: 500px; }
    form.contactform input[type="submit"] {
      width: auto; }
  form.contactform textarea {
    width: 100%;
    max-width: 500px;
    min-height: 100px; }
    @media (min-width: 768px) {
      form.contactform textarea {
        min-height: 200px; } }

.form_message {
  font-weight: bold;
  color: red; }

.gallery .container h2 {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  position: relative; }

.gallery .container .columns {
  position: relative;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden; }
  .gallery .container .columns:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* ratio of 1:1*/ }

footer {
  padding: 3rem 0;
  text-align: center;
  background-color: #13558d;
  padding: 3rem 0;
  width: 100%;
  z-index: 9;
  color: #fff; }
  footer p {
    text-align: center;
    font-size: 1.3rem;
    margin: 0; }
    footer p a {
      color: #fff; }

@media (min-width: 768px) {
  .fancy {
    line-height: 0.5;
    text-align: center; }
    .fancy span {
      display: inline-block;
      position: relative; }
      .fancy span:before {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #be1522;
        border-top: 1px solid #be1522;
        top: 0;
        width: 50%;
        right: 100%;
        margin-right: 15px; }
      .fancy span:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #be1522;
        border-top: 1px solid #be1522;
        top: 0;
        width: 50%;
        left: 100%;
        margin-left: 15px; } }

.call-out {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 8rem; }

.text-center {
  text-align: center; }

.justify {
  text-align: justify; }
